<div class="sidebar">

  <h3 class="logo">HRMS</h3>

  <ul>

    <li>
      <a routerLink="/dashboard">🏠 Dashboard</a>
    </li>

    <li class="has-submenu">
      <a href="javascript:void(0)">📊 Attendance ▾</a>
      <ul class="submenu">
        <li>
          <a routerLink="/attendance">My Attendance</a>
        </li>
        <li>
          <a href="javascript:void(0)"> Apply WFH</a>
        </li>
      </ul>
    </li>
   

    <!-- Leaves with Submenu -->
    <li class="has-submenu">
      <a href="javascript:void(0)">📅 Leaves ▾</a>

      <ul class="submenu">
        <li>
          <a routerLink="/my-leaves">📄 My Leaves</a>
        </li>
        <li>
          <a routerLink="/apply-leave">➕ Apply Leave</a>
        </li>
      </ul>
    </li>

    <li *ngIf="role === 'MANAGER'" class="has-submenu">
      <a href="javascript:void(0)">Team Requests ▾</a>

      <ul class="submenu">
        <li *ngIf="role === 'MANAGER'">
          <a routerLink="/leave-requests">Leave Requests</a>
        </li>
        <li *ngIf="role === 'MANAGER'">
          <a routerLink="/wfh-requests">WFH Requests</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/my-team">👥 My Team</a>
    </li>

    <li>
      <a routerLink="/organization">🏢 Organization</a>
    </li>

    <li>
      <a routerLink="/helpdesk">❓ Helpdesk</a>
    </li>

    <li>
      <a routerLink="/requests">📋 Requests</a>
    </li>

    <li>
      <a routerLink="/finance">💰 Finance</a>
    </li>

    <li>
      <a routerLink="/settings">⚙️ Settings</a>
    </li>

  </ul>

</div>